

.container {
    
    
  
    /* margin-right: 10em; */
    /* padding-right: 5em; */
    /* padding-left: 5em; */
    height: 50em; 
    /* width: 80em;  */
    /* margin-right: 40em; */
    background-color: rgba(0,0,0,0.5);
}




.jokeGenBox {
    background-color: rgba(0,0,0,0.5);
    
    height: 30em;
    width: 18em;
    margin-left: 400px;
    /* text-align: center; */
    /* margin-top: 10em; */
    
}

.jokeGenContentBtn {
    padding-top: 150px;
}

.jokeCont {
    background-color: rgba(0,0,0,0.5);
    
    height: 14em;
    /* width: 50em; */
    /* margin-left: 19em;  */
    /* padding-bottom: 20em; */
    /* /* left: 50px; */

}